/* controls carousel speed */
.carousel-inner .carousel-item {
    transition: -webkit-transform 7s ease;
    transition: transform 7s ease;
    /* transition: transform 7s ease, -webkit-transform 7s ease; */
}


/* Expand and Center Card */


/* Accordion for cards */
.card-title {
    transition: .3s transform ease-in-out;
}

body{
    background-color: blue;
}
